<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sjekkliste</title>
    <link rel="stylesheet" href="sjekkliste.css">
</head>
<body>
    @{
    ViewData["Title"] = "Checklist";
    }
    <h1>@ViewData["Title"]</h1>

    <form id="checklist" asp-action=""> <!-- må legge til en asp-action!! -->
        <div class="rowType" id="header">
            <div class="rowTypeHeader">
                <label for="serieInp">Serie nr.</label>
                <input id="serieInp" type="text">
            </div>
            <div>
                <label for="typeInp">Type:</label>
                <input id="typeInp" type="text">
            </div>
        </div>
        <div class="rowType" id="subHeader">
            <div></div>
            <div>Sjekkpunkter:</div>
            <div class="OBSD">Ok</div>
            <div class="OBSD">Bør skiftes</div>
            <div class="OBSD">Defekt</div>
        </div>
        <div class="rowType" id="mekanisk">
            <div class="rowTypeHeader">Mekanisk</div>
            <div id="mekaniskPunkter">
                <div class="sjekkpunkt">
                    <label id="sjekkpunkt1" for="radio1">Sjekk clutsj lameller for slitasje</label>
                    <div class="ok">
                        <input type="radio" id="radio1" name="sjekkpunkt1">
                    </div>
                    <div class="borSkiftes">
                        <input type="radio" id="radio1" name="sjekkpunkt1">
                    </div>
                    <div class="defekt">
                        <input type="radio" id="radio1" name="sjekkpunkt1">
                    </div>
                </div>
                <div class="sjekkpunkt">
                    <label id="sjekkpunkt2" for="radio2">Sjekk bremser. Bånd/Pal</label>
                    <div class="ok">
                        <input type="radio" id="radio2" name="sjekkpunkt2">
                    </div>
                    <div class="borSkiftes">
                        <input type="radio" id="radio2" name="sjekkpunkt2">
                    </div>
                    <div class="defekt">
                        <input type="radio" id="radio2" name="sjekkpunkt2">
                    </div>
                </div>
                <div class="sjekkpunkt">
                    <label id="sjekkpunkt3" for="radio3">Sjekk lager for trommel</label>
                    <div class="ok">
                        <input type="radio" id="radio3" name="sjekkpunkt3">
                    </div>
                    <div class="borSkiftes">
                        <input type="radio" id="radio3" name="sjekkpunkt3">
                    </div>
                    <div class="defekt">
                        <input type="radio" id="radio3" name="sjekkpunkt3">
                    </div>
                </div>
                <div class="sjekkpunkt">
                    <label id="sjekkpunkt4" for="radio4">Sjekk PTO for opplagring</label>
                    <div class="ok">
                        <input type="radio" id="radio4" name="sjekkpunkt4">
                    </div>
                    <div class="borSkiftes">
                        <input type="radio" id="radio4" name="sjekkpunkt4">
                    </div>
                    <div class="defekt">
                        <input type="radio" id="radio4" name="sjekkpunkt4">
                    </div>
                </div>
                <div class="sjekkpunkt">
                    <label id="sjekkpunkt5" for="radio5">Sjekk kjedestrammer</label>
                    <div class="ok">
                        <input type="radio" id="radio5" name="sjekkpunkt5">
                    </div>
                    <div class="borSkiftes">
                        <input type="radio" id="radio5" name="sjekkpunkt5">
                    </div>
                    <div class="defekt">
                        <input type="radio" id="radio5" name="sjekkpunkt5">
                    </div>
                </div>
                <div class="sjekkpunkt">
                    <label id="sjekkpunkt6" for="radio6">Sjekk wire</label>
                    <div class="ok">
                        <input type="radio" id="radio6" name="sjekkpunkt6">
                    </div>
                    <div class="borSkiftes">
                        <input type="radio" id="radio6" name="sjekkpunkt6">
                    </div>
                    <div class="defekt">
                        <input type="radio" id="radio6" name="sjekkpunkt6">
                    </div>
                </div>
                <div class="sjekkpunkt">
                    <label id="sjekkpunkt7" for="radio7">Sjekk pinion lager</label>
                    <div class="ok">
                        <input type="radio" id="radio7" name="sjekkpunkt7">
                    </div>
                    <div class="borSkiftes">
                        <input type="radio" id="radio7" name="sjekkpunkt7">
                    </div>
                    <div class="defekt">
                        <input type="radio" id="radio7" name="sjekkpunkt7">
                    </div>
                </div>
                <div class="sjekkpunkt">
                    <label id="sjekkpunkt8" for="radio8">Sjekk kile på kjedehjul</label>
                    <div class="ok">
                        <input type="radio" id="radio8" name="sjekkpunkt8">
                    </div>
                    <div class="borSkiftes">
                        <input type="radio" id="radio8" name="sjekkpunkt8">
                    </div>
                    <div class="defekt">
                        <input type="radio" id="radio8" name="sjekkpunkt8">
                    </div>
                </div>
                <div class="sjekkpunkt">
                    <label id="sjekkpunkt9" for="radio9">x</label>
                     <div class="ok">
                        <input type="radio" id="radio9" name="sjekkpunkt9">
                    </div>
                    <div class="borSkiftes">
                        <input type="radio" id="radio9" name="sjekkpunkt9">
                    </div>
                    <div class="defekt">
                        <input type="radio" id="radio9" name="sjekkpunkt9">
                    </div>
                </div>
            </div>
        </div>
        <div class="rowType" id="hydraulisk">
            <div class="rowTypeHeader">Hydraulisk</div>
            <div id="hydrauliskPunkter">
                <div class="sjekkpunkt">
                    <label id="sjekkpunkt11" for="radio11">Sjekk hydraylikk sylinder for lekkasje</label>
                    <div class="ok">
                        <input type="radio" id="radio11" name="sjekkpunkt11">
                    </div>
                    <div class="borSkiftes">
                        <input type="radio" id="radio11" name="sjekkpunkt11">
                    </div>
                    <div class="defekt">
                        <input type="radio" id="radio11" name="sjekkpunkt11">
                    </div>
                </div>
                <div class="sjekkpunkt">
                    <label id="sjekkpunkt12" for="radio12">Sjekk slager for skader og lekkasje</label>
                    <div class="ok">
                        <input type="radio" id="radio12" name="sjekkpunkt12">
                    </div>
                    <div class="borSkiftes">
                        <input type="radio" id="radio12" name="sjekkpunkt12">
                    </div>
                    <div class="defekt">
                        <input type="radio" id="radio12" name="sjekkpunkt12">
                    </div>
                </div>
                <div class="sjekkpunkt">
                    <label id="sjekkpunkt13" for="radio13">Test hydraulikkblokk i testbenk</label>
                    <div class="ok">
                        <input type="radio" id="radio13" name="sjekkpunkt13">
                    </div>
                    <div class="borSkiftes">
                        <input type="radio" id="radio13" name="sjekkpunkt13">
                    </div>
                    <div class="defekt">
                        <input type="radio" id="radio13" name="sjekkpunkt13">
                    </div>
                </div>
                <div class="sjekkpunkt">
                    <label id="sjekkpunkt14" for="radio14">Skift olje i tank</label>
                    <div class="ok">
                        <input type="radio" id="radio14" name="sjekkpunkt14">
                    </div>
                    <div class="borSkiftes">
                        <input type="radio" id="radio14" name="sjekkpunkt14">
                    </div>
                    <div class="defekt">
                        <input type="radio" id="radio14" name="sjekkpunkt14">
                    </div>
                </div>
                <div class="sjekkpunkt">
                    <label id="sjekkpunkt15" for="radio15">Skift olje på gir boks</label>
                    <div class="ok">
                        <input type="radio" id="radio15" name="sjekkpunkt15">
                    </div>
                    <div class="borSkiftes">
                        <input type="radio" id="radio15" name="sjekkpunkt15">
                    </div>
                    <div class="defekt">
                        <input type="radio" id="radio15" name="sjekkpunkt15">
                    </div>
                </div>
                <div class="sjekkpunkt">
                    <label id="sjekkpunkt16" for="radio16">Sjekk Ringsylinder åpne og skift tetninger</label>
                    <div class="ok">
                        <input type="radio" id="radio16" name="sjekkpunkt16">
                    </div>
                    <div class="borSkiftes">
                        <input type="radio" id="radio16" name="sjekkpunkt16">
                    </div>
                    <div class="defekt">
                        <input type="radio" id="radio16" name="sjekkpunkt16">
                    </div>
                </div>
                <div class="sjekkpunkt">
                    <label id="sjekkpunkt17" for="radio17">Sjekk bremse sylinder åpne og skift tetninger</label>
                    <div class="ok">
                        <input type="radio" id="radio17" name="sjekkpunkt17">
                    </div>
                    <div class="borSkiftes">
                        <input type="radio" id="radio17" name="sjekkpunkt17">
                    </div>
                    <div class="defekt">
                        <input type="radio" id="radio17" name="sjekkpunkt17">
                    </div>
                </div>
                <div class="sjekkpunkt">
                    <label id="sjekkpunkt18" for="radio18">x</label>
                    <div class="ok">
                        <input type="radio" id="radio18" name="sjekkpunkt18">
                    </div>
                    <div class="borSkiftes">
                        <input type="radio" id="radio18" name="sjekkpunkt18">
                    </div>
                    <div class="defekt">
                        <input type="radio" id="radio18" name="sjekkpunkt18">
                    </div>
                </div>
            </div>
        </div>
        <div class="rowType" id="elektro">
            <div class="rowTypeHeader">Elektro</div>
            <div id="elektroPunkter">
                <div class="sjekkpunkt">
                    <label id="sjekkpunkt21" for="radio21">Sjekk ledningsnett på vinsj</label>
                    <div class="ok">
                        <input type="radio" id="radio21" name="sjekkpunkt21">
                    </div>
                    <div class="borSkiftes">
                        <input type="radio" id="radio21" name="sjekkpunkt21">
                    </div>
                    <div class="defekt">
                        <input type="radio" id="radio21" name="sjekkpunkt21">
                    </div>
                </div>
                <div class="sjekkpunkt">
                    <label id="sjekkpunkt22" for="radio22">Sjekk og test radio</label>
                    <div class="ok">
                        <input type="radio" id="radio22" name="sjekkpunkt22">
                    </div>
                    <div class="borSkiftes">
                        <input type="radio" id="radio22" name="sjekkpunkt22">
                    </div>
                    <div class="defekt">
                        <input type="radio" id="radio22" name="sjekkpunkt22">
                    </div>
                </div>
                <div class="sjekkpunkt">
                    <label id="sjekkpunkt23" for="radio23">Sjekk og test knappekasse</label>
                    <div class="ok">
                        <input type="radio" id="radio23" name="sjekkpunkt23">
                    </div>
                    <div class="borSkiftes">
                        <input type="radio" id="radio23" name="sjekkpunkt23">
                    </div>
                    <div class="defekt">
                        <input type="radio" id="radio23" name="sjekkpunkt23">
                    </div>
                </div>
                <div class="sjekkpunkt">
                    <label id="sjekkpunkt24" for="radio24">x</label>
                    <div class="ok">
                        <input type="radio" id="radio24" name="sjekkpunkt24">
                    </div>
                    <div class="borSkiftes">
                        <input type="radio" id="radio24" name="sjekkpunkt24">
                    </div>
                    <div class="defekt">
                        <input type="radio" id="radio24" name="sjekkpunkt24">
                    </div>
                </div>
            </div>
        </div>
        <div class="rowType" id="trykkSetting">
            <div class="rowTypeHeader">Trykk settinger</div>
            <div id="trykkSettingPunkter">
                <div id="trykkSettingPunkt">
                    <div class="trykkSettingPunktDiv">
                        <label for="TSinp1">x-Bar</label>
                        <input type="text" id="TSinp1">
                    </div>
                    <div class="trykkSettingPunktDiv">
                        <label for="TSinp2">x</label>
                        <input type="text" id="TSinp2">
                    </div>
                </div>
            </div>
        </div>
        <div class="rowType" id="funksjonsTest">
            <div class="rowTypeHeader">Funksjons test</div>
            <div id="funksjonsTestPunkter">
                <div class="funksjonsTestFunksjoner">
                    <label for="FTinp1">Test vinsj og kjør alle funksjoner</label>
                    <input type="text" id="FTinp1">
                </div>
                <div class="funksjonsTestFunksjoner">
                    <label for="FTinp2">Trekkkraft KN</label>
                    <input type="text" id="FTinp2">
                </div>
                <div class="funksjonsTestFunksjoner">
                    <label for="FTinp3">Bremsekraft KN</label>
                    <input type="text" id="FTinp3">
                </div>
            </div>
        </div>
        <div class="rowType" id="kommentar">
            <label class="rowTypeHeader" for="komment">Kommentar</label>
            <input type="text" id="komment">
        </div>
        <div class="rowType" id="sign">
            <label id="signSign" for="signatur">Signatur</label>
            <input type="text" id="signatur" placeholder="Navn på ansatt">
            <label id="signDato" for="dato">Dato:</label>
            <input type="datetime-local" id="dato">
        </div>
        <button type="submit" id="sendInnKnapp">Send inn</button>
    </form>
</body>
</html>
