<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div>
        <img src="favicon.ico"/>
        <p></p>
        <div>
            
            <p></p>
            <form>
                <label for="Brukernavn">Brukernavn
                    <input type="text" id="Brukernavn"/>
                </label>
                <label for="Passord">Passord
                    <input type="password" id="Passord"/>
                </label>
                <input type="submit" value="Logg inn"/>
            </form>
        </div>
    </div>
</body>
</html>